<p id="notice"><%= notice %></p>

<%= link_to 'Back', devices_path %>

<h1><%= @device.name %> <%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>'), edit_device_path(@device), class: 'btn btn-primary btn-sm' %></h1>

<%= link_to 'Journies', device_path(@device), class: 'btn btn-primary btn-lg' %>
<%= link_to 'Alerts',  alerts_device_path(@device), class: 'btn btn-primary btn-lg active' %>

<h3>Last alert</h3>
<% unless @device.coords.where(state: 'alert').empty? %>
  <% epoch = @device.coords.where(state: 'alert').last.epoch %>
  <!-- <p><strong><big><%= Time.at( @device.coords.where(state: 'alert').last.epoch ).strftime("%B %e, %Y at %l:%M %p") unless @device.coords.where(state: 'alert').last.epoch.nil?  %></big></strong></p> -->
  <p><strong><big><%= time_ago_in_words(Time.at(epoch)) + " ago" unless epoch.nil? %></big></strong></p>
<% end %>

<div id="map-container">
  <div id="map-canvas"></div>
</div>

<h3>Alert History</h3>
<ul>
  <% @device.coords.where(state: 'alert').reverse_each do |c| %>
    <li><%= c.epoch.nil? ? '--' : Time.at( c.epoch ).strftime("%B %e, %Y at %l:%M %p") %></li>
  <% end %>
</ul>



<% content_for :js do %>
<script>
  function localMapChanges()
  {
    //createImage()
    <% @device.coords.where(state: 'alert').each do |c| %>
      //createMarker(<%= c.lat %>, <%= c.lng %>, map, 'Time:')
      createCustomMarker(<%= c.lat %>, <%= c.lng %>, map, "Time: <%= Time.at( c.epoch ).to_datetime.strftime("%B %e, %Y at %l:%M %p") unless c.epoch.nil? %>")
    <% end %>
  }
</script>
<% end %>