<p id="notice"><%= notice %></p>

<%= link_to 'Back', devices_path %>

<h1><%= @device.name %> <%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>'), edit_device_path(@device), class: 'btn btn-primary btn-sm' %></h1>

<%= link_to 'Journies', device_path(@device), class: 'btn btn-primary btn-lg' %>
<%= link_to 'Alerts',  alerts_device_path(@device), class: 'btn btn-primary btn-lg active' %>

<h3>Last alert</h3>
<p>Time: <strong><big>5:44pm</big></strong></p>

<div id="map-container">
  <div id="map-canvas"></div>
</div>



<% content_for :js do %>
<script>
  function localMapChanges()
  {
    createMarker(<%= @device.coords.where(state: 'alert').last.lat %>, <%= @device.coords.where(state: 'alert').last.lng %>, map, 'Last Position')

    // make a path with start and end points
    var lineCoordinates = []
    <% @device.coords.where(state: 'alert').each do |c| %>
      createMarker(<%= c.lat %>, <%= c.lng %>, map, 'Time:')
      //lineCoordinates.push(new google.maps.LatLng(<%= c.lat %>, <%= c.lng %>))
    <% end %>

    //createPolyline(map, lineCoordinates, lineSymbol);
  }
</script>
<% end %>