<%= form_for(@user, url: :user_update) do |f| %>
  <h2>Settings</h2>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <hr />

  <h2>Notifications</h2>
  <div class="form-group">
    <%= f.label :text_notification, 'Text Notification' %>
    <%= f.text_field :text_notification, class: 'form-control', placeholder: '(416) 123-1234' %>
    <p class="help-block">Leave blank to disable text notifications</p>
  </div>

  <div class="form-group">
    <%= f.label :email_notification, 'Email Notification' %>
    <%= f.text_field :email_notification, class: 'form-control' %>
    <p class="help-block">Leave blank to disable email notifications</p>
  </div>

  <hr />

  <div class="actions">
    <%= f.submit 'Update Settings', class: 'btn btn-primary' %>
  </div>
<% end %>