<!DOCTYPE html>
<html>
<head>
  <title><%=raw full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body <%=raw body_class(yield(:bodyclass)) %>>
<div id="wrap">

<%= render 'layouts/header' %>

<div class="contents">
  <% flash.each do |message_type, message| %>
    <div class="flash-container">
      <div class="container">
        <div class="alert alert-<%= message_type %>"><%=raw message %></div>
      </div>
    </div>
  <% end %>

  <div class="container">
    <div class="well">
      <%= yield %>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>

</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
